<h1>Rails Portfolio</h1>
<%= link_to 'Add New', new_portfolio_path %>


<p><% @portfolio_ruby_on_rails.each do |port| %></p>
        <h2><%=port.title  %></h2>
        <hr>
            <%=port.subtitle  %><br>
            <%=port.body  %><br>
            <%=image_tag port.main_image  %><br>
            <%=image_tag port.thumb_image  %><br>
          <%= link_to 'EDIT', edit_portfolio_path(port) %><br>
          <%= link_to 'SHOW', portfolio_path(port) %>
          <hr>
      <% end %>
