<h1><%= @portfolio.title %> </h1>
<hr>
<h3><%= @portfolio.subtitle %></h3>
<br>
<h4><%= @portfolio.body %></h4>

<%= image_tag @portfolio.main_image %><br>
<%= image_tag @portfolio.thumb_image %>
<br>
<%= link_to 'List', portfolios_path %>
<%= link_to 'Edit', edit_portfolio_path(@portfolio) if logged_in?(:admin, :customer, :etc)  %>
